@page "/"
@page "/testroute"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10"  />
<br/>
<textarea @bind-value="@text" @bind-value:event="oninput" style="width:300px; height:200px;"/>

<p>Lenght: @text.Length</p>
<p><button @onclick="@(()=>{text ="";})">Clear</button></p>

<p><a href="/testpage?param1=sumith&param2=damodaran">To Test Page</a></p>

<NewItemSetupComponent @key="@tempid" onItemSubmit="@(async (item)=> await InsertNewItem(item))"></NewItemSetupComponent>
<table>
	<thead>
		<tr>
			<td>Item id</td>
			<td>Asking price</td>
			<td>Units</td>
			<td>Total</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Items.OrderBy(x=>x.ItemId))
		{
			<ListItemComponent Item="@item"></ListItemComponent>
		}
	</tbody>
</table>

@if(status==3)
{
	<p>Seconds: <input value="@timeleft.Seconds" type="number" @oninput="@((args)=>{timeleft =new TimeSpan(0,0,Convert.ToInt32(args.Value));})"></p>
	<p><button @onclick="@(async()=>{status =1;RunTimer();})">Start</button></p> 
}
@if (status == 1 || status == 2)
{

	@if (status == 1)
	{
		<p><button @onclick="@(()=>{status =2;})">Pause</button></p>
	}
	@if (status == 2)
	{
		<p><button @onclick="@(()=>{status =1;})"> Resume</button></p>
	}
	<p><button @onclick="@(()=>{status =3;timeleft = new TimeSpan(0,0,0);})">Stop</button></p> 
	<p>Time left : @timeleft</p>
}
@code{
	string text = "";
	string tempid = Guid.NewGuid().ToString();
	List<ItemModel> Items = new List<ItemModel>();


	Task InsertNewItem(ItemModel newitem)
	{
		Items.Add(newitem);
		tempid  = Guid.NewGuid().ToString();
		return Task.CompletedTask;
	}
	TimeSpan timeleft;
	//1 -running. 2 -paused , 3- stopped
	int status = 3;
	async Task RunTimer()
	{
		while (status == 1 || status == 2)
		{
			await Task.Delay(1000);
			if (status == 1)
			{
				timeleft = timeleft.Subtract(new TimeSpan(0, 0, 1));
				StateHasChanged();
				if(timeleft == new TimeSpan(0,0,0))
				{
					status = 3;
					StateHasChanged();
					break;
				}

			}
		}
	}
}